<header class="header">
  <div class="leftside">
    <h1 class="title">VALHALLA</h1>
  <nav class="nav-bar">
    <ul>
      <a class="nav-item" href=""><li>VEHICLES</li></a>
      <a class="nav-item" href=""><li>NEW MODELS</li></a>
      <a class="nav-item" href=""><li>URUS</li></a>
      <a class="nav-item" href=""><li>BRANDS</li></a>
      <a class="nav-item" href=""><li>OWNERSHIPS</li></a>
    </ul>
  </nav>
  </div>
  <div class="info">
    <ul>
      <a class="info-item" href=""><li>Dealerships</li></a>
      <a class="info-item" href=""><li>Account</li></a>
    </ul>
  </div>
</header>
