<div class="container-text">
  <h2>
    Do you know the benefits of purchasing an import vehicle for Colombia with
    us? Vehicles imported to Colombia as their specific destination are the only
    ones programmed and pre-calibrated to have the best quality and performance
    in our height and geographic location conditions.
  </h2>
</div>
<div class="container-background">
  <div class="offers">
    <div class="title">
      <h3>JEEP®</h3>
    </div>
    <div class="container-vehicles">
      <div
        class="vehicles"
        *ngFor="let vehicle of vehiclesOffers; let pos = index"
      >
        <img class="item-image" [src]="vehicle.image" alt="" />
        <h4 class="item-model">{{ vehicle.model }}</h4>
        <p class="now-text">From</p>
        <p class="item-offer">COP {{ formatPrice(vehicle.offer) }} </p>
      </div>
    </div>
  </div>
</div>
