.welcome {
  width: 100vw;
}

.join-valhalla {
  width: 100vw;
  padding: 30px 50px;
}

.first {
  color: #ffffff;
  font-size: 5rem;
}

.second {
  color: #ffffff;
  font-size: 2.4rem;
}

.third {
  color: #dcb234;
  font-size: 2.4rem;
}
