.welcome {
  width: 100vw;
}

.join-valhalla {
  width: 100vw;
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.first {
  color: #ffffff;
  font-size: 5rem;
}

.second {
  color: #ffffff;
  font-size: 2.4rem;
}

.third {
  color: #dcb234;
  font-size: 2.4rem;
}

.urus-btn {
  background-color: transparent;
  color: #ffffff;
  font-size: 2rem;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  cursor: pointer;
  margin-right: 80px;
  text-decoration: none;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: #ffffff;
}

span {
  width: 50px;
  height: 50px;
  background-image: url('../../../assets/icons/right-arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(65%) sepia(80%) saturate(389%) hue-rotate(5deg) brightness(95%) contrast(90%);
  margin-left: 50px;
}

.urus-btn:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.5s;
}
