<video class="welcome" loop autoplay muted oncanplay="this.play()" onloadedmetadata="this.muted = true" src="../../../assets/index-video/welcome-video.mp4"></video>
<div class="join-valhalla">
  <div class="welcome-text">
    <h3 class="first">Enjoy the adventure</h3>
    <h3 class="second">Make your next plan with Valhalla®</h3>
    <h3 class="third">The Valhalla® is waiting for you.</h3>
  </div>
  <div class="urus">
    <button class="urus-btn">
      BUILD YOUR OWN URUS
    </button>
  </div>
</div>
